{% extends "index.html" %}
{% load static %}
{% block categories %}cat_menu none
{% endblock categories %}
{% load poll_extras %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-5">
                                <div>Descripción</div>
                                
                            </div>
                            <div class="col-lg-2">Precio</div>
                            <div class="col-lg-1">Cant.</div>
                            <div class="col-lg-2">SubTotal</div>
                        </div>
                        <div class="row">
                            {% for i in object  %}
                            <div class="col-lg-2"><img src="{{i.image}}" width="60px" height="60px" alt=""></div>
                            <div class="col-lg-5">
                                <div>{{i.product}}</div>
                                <div>{{i.marca}}</div>
                            </div>
                            <div class="col-lg-2">S/.{{i.price}}</div>
                            <div class="col-lg-1">{{i.quantity}}</div>
                            <div class="col-lg-2">S/.{{i.amount}}</div>
                            {% endfor %}
                        </div>
                        {% comment %} <table id="Cart" class="table table-striped table-bordered" style="width:100%">
                            <thead>

                                <th scope="col">Imagen</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Subtotal</th>


                            </thead>
                            <tbody>




                            </tbody>
                        </table> {% endcomment %}
                    </div>
                    <div class="col-lg-4">
                        <table class="table table-bordered ">
                            <thead class="table-dark"></thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Subtotal</th>
                                    <td>S./ 369</td>
                                </tr>
                                <tr>
                                    <td>Costo de envio</td>
                                    <td>S/. 20</td>
                                </tr>
                                <tr>
                                    <td>Descuento</td>
                                    <td>S./0.00</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>S./. 1000.00</td>
                                </tr>
                                <tr>
                                    <td colspan="2"> <button class="btn indigo btn-primary btn-block">CheckOut</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js_page %}
<script>
    $(document).ready(function () {
        $('#Cart').DataTable({
            "lengthMenu": [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, "All"]
            ],

            responsive: true,
            ajax: {
                url: "{% url 'cart:cart' %}",
                type: "POST",
                dataSrc: ""
            },

            columns: [{
                    "data": 'image',
                    className: "text-center middle",
                },
                {
                    "data": 'name',
                    className: "middle"
                },
                {
                    "data": 'price',
                    className: "middle"
                },
                {
                    "data": 'quantity',
                    className: "middle"
                },

                {
                    "data": 'stock',
                    className: "middle"

                },






            ],
        });
    });
</script>
{% endblock js_page %}