{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block content %}
<div class="container">
  <h2 class="mb-4">{% trans "Sign In" %}</h2>
  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
  <!-- <p>{% blocktrans with site.name as site_name %}Please sign in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below:{% endblocktrans %}</p> -->

  <div class="socialaccount_ballot">



  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% endif %}

  <form id="formlogin" class="login">
    {% csrf_token %}

    <div class="form-outline mb-4">
      <input type="email" name="login" class="form-control" required="" id="login">
      <label for="login" class="form-label"> <i class="fa fa-user" aria-hidden="true"></i>

        E-mail</label>

    </div>
    <div class="form-outline">
      <input class="form-control" type="password" name="password" required="" id="password">
      <label for="password" class="form-label"> <i class="fa fa-lock" aria-hidden="true"></i>
        Password</label>

    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}


    <a class="button secondaryAction"
      href="{% url 'account_reset_password' %}">{% trans "¿Olvidaste tu contraseña?" %}</a>
    <button class="btn btn-primary btn-block my-4" id="btn-login-submit" type="submit">Entrar</button>

    <!-- Register -->
    <p class="text-center">No eres miembro?
      <a href="">Registrate aquí</a>
    </p>

    <!-- Social login -->
  </form>

  <div class="login-or" style="text-align: center;">-{% trans 'or' %}-</div>

  <div class="socialaccount_ballot">


  </div>
  <a title="Google" class="socialaccount_provider google" href="/accounts/google/login/?process=login">
    <div class="google-btn justify-content-center">
      <div class="google-icon-wrapper">
        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
      </div>
      <p class="btn-text">Ingresar con Google</p>
    </div>
  </a>
  <!-- <style>
  .jconfirm {
    z-index: 1031 !important;
  }
</style> -->

</div>
{% endblock %}

{% block js_page %}
<script>
  $("#formlogin").submit(function (e) {
    let form = document.getElementById("formlogin")
    let formData = new FormData(form)

    let pass = document.getElementById("password")
    let user = document.getElementById("login")
    let btn = document.getElementById("btn-login-submit")
    btn.innerHTML = ""
    pass.disabled = true
    user.disabled = true
    btn.disabled = true
    let parent = document.createElement("div")
    let loader = document.createElement("span")
    loader.style.marginRight = "2px"
    loader.classList.add("spinner-border", "spinner-border-sm")
    loader.setAttribute("role", "status")
    loader.setAttribute("aria-hidden", "true")
    parent.appendChild(loader)
    btn.appendChild(parent)
    e.preventDefault();
    fetch("{% url 'base:login' %}", {
      method: "POST",
      body: formData
    }).then(data => data.json()).then(response => {
      console.log(response);
      if (!response.stat) {
        pass.disabled = false
        user.disabled = false
        btn.disabled = false
        btn.innerHTML = ""
        btn.textContent = "ENTRAR"

        TopMessage(response.error, "error")
        $("#id_password").val("")

      } else {
        location.reload();


      }
    })
    // $.ajax({
    //   type: "POST",
    //   url: "{% url 'base:login' %}",
    //   data: $(this).serialize(),

    //   success: function (response) {


    //   }
    // });
  });
</script>
<script src="{% static 'js/mdb.min.js' %}"></script>
{% endblock js_page %}