 
    <!-- Classic tabs -->
    <!-- Classic tabs -->

 

        
          <div class="row">
          
          <div class="col-6">
              <img src="../../media/{{product.image}}" style="width:80%">
</div>
          
          <div class="col-6">

          <h2 class="h2-responsive mb-2">{{product.name}}</h2>
    
          <ul class="list-unstyled list-inline rating mb-2">
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"> </i></li>
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
            <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text"></i></li>
            <li class="list-inline-item">
              <p class="text-muted">4.5 (413)</p>
            </li>
          </ul>
           {% if product.amount >= 20 %}
          <span class="badge badge-pill badge-success mb-4">Disponible</span>
          {%elif product.amount < 20 %}
          <span class="badge badge-pill badge-warning  mb-4">Disponible</span>
          {%elif product.amount < 10 %}
            <span class="badge badge-pill badge-danger  mb-4">No disponible</span>

          {% endif %}
          <div class="d-flex align-items-end mb-2">
            <h2 class="font-weight-bold blue-text">S/.{{product.price}}        
            </h2>&nbsp;&nbsp;
            <h4
              class="text-grey mb-2"><s class="text-muted ">S/.{{product.before}}</s>
          </h4>
          </div>
         <h5 class="mb-2">
            <strong>Modelo</strong>
            <small class="text-muted">{{product.modelo}}</small>
          </h5>
          
          <h5 class="mb-2">
            <strong>Marca</strong>
            <small class="text-muted">{{product.marca}}</small>
          </h5>
          <h5 class="mb-2">
            <strong>SKU</strong>
            <small class="text-muted">{{product.sku}}</small>
          </h5>
          <h5 class="mb-2">
            <strong>Categoría</strong>
            <small class="text-muted">{{product.category}}/{{product.category.parent}}</small>
          </h5>
          <h5 class="mb-2">
            <strong>Descripcion</strong><br>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit alias dolorum necessitatibus similique consequatur, non exercitationem quidem commodi nisi! Iure voluptatem pariatur, enim quasi voluptate maxime aperiam reprehenderit soluta nam.Nihil odit repellat et consectetur corporis aut magni aspernatur sapiente quaerat, quasi libero voluptatem maiores molestiae expedita pariatur temporibus, quidem provident iure? Laboriosam dolorum illum quibusdam numquam sint hic unde.</p>
          </h5>
         
        
     
          </div>
          </div>
      
          {% comment %} <div class="scrollbar scrollbar-primary">
            <div class="force-overflow">
          <article class="article">
            <h5 class="article__title"><strong>Descripcion</strong></h5>
            <div class="article__content">
             
                
                      {% autoescape off %}
                      {{product.description}}
                      {% endautoescape %}
             
            </div>
          </article>
        </div>
      </div> {% endcomment %}


    <!-- Classic tabs -->



