body {
  padding: 0 !important;
  background: lightgrey !important; }

.p_subnav {
  color: white;
  margin: 0; }

#effect {
  position: absolute;
  z-index: 4;
  right: 0;
  width: 400px;
  height: auto;
  padding: 0.4em;
  background-color: white;
  border-radius: 0.25rem; }

#showOptionUsers {
  position: absolute;
  z-index: 4;
  right: 0;
  width: 400px;
  height: auto;
  padding: 0.4em;
  background-color: white;
  border-radius: 0.25rem; }

#effect h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center; }

#carrIcon {
  width: 28px; }

#userIcon {
  width: 40px; }

.menu {
  display: flex;
  justify-content: center; }

.dropdown {
  padding: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  z-index: 100; }
  .dropdown:hover {
    cursor: pointer; }
  .dropdown:hover .dropdown_menu li {
    display: block; }
  .dropdown:hover .dropdown_menu2 li {
    display: block; }

.dropdown_menu2 {
  position: absolute;
  top: 100%;
  width: 400%;
  perspective: 1000px;
  z-index: -1; }
  .dropdown_menu2 li {
    display: none;
    color: white;
    background-color: #34495e;
    padding: 10px 20px;
    font-size: 16px;
    opacity: 0; }
  @media screen and (max-width: 600px) {
    .dropdown_menu2 {
      width: 400%;
      left: -20px; } }
  @media screen and (max-width: 800px) {
    .dropdown_menu2 {
      width: 450%;
      left: 0; } }

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: -200%;
  width: 300%;
  perspective: 1000px;
  z-index: -1; }
  .dropdown_menu li {
    display: none;
    color: white;
    background-color: #34495e;
    padding: 10px 20px;
    font-size: 16px;
    opacity: 0; }
    .dropdown_menu li:hover {
      background-color: grey; }
    .dropdown_menu li .navlink {
      padding: 0 1.5rem;
      text-decoration: none;
      color: white;
      width: 100%; }
  @media screen and (max-width: 600px) {
    .dropdown_menu {
      width: 400%;
      left: 30px;
      top: -100px; } }

.dropdown:hover .dropdown_menu--animated {
  display: block; }

.dropdown_menu--animated {
  display: none; }
  .dropdown_menu--animated li {
    display: block;
    opacity: 1; }

.dropdown_menu-3 .dropdown_item-1 {
  transform-origin: top center;
  animation: rotateZ 300ms 60ms ease-in-out forwards; }
.dropdown_menu-3 .dropdown_item-2 {
  transform-origin: top center;
  animation: rotateZ 300ms 120ms ease-in-out forwards; }
.dropdown_menu-3 .dropdown_item-3 {
  transform-origin: top center;
  animation: rotateZ 300ms 180ms ease-in-out forwards; }
.dropdown_menu-3 .dropdown_item-4 {
  transform-origin: top center;
  animation: rotateZ 300ms 240ms ease-in-out forwards; }
.dropdown_menu-3 .dropdown_item-5 {
  transform-origin: top center;
  animation: rotateZ 300ms 300ms ease-in-out forwards; }

@keyframes rotateZ {
  0% {
    opacity: 0;
    transform: translateZ(290px); }
  80% {
    transform: translateZ(10px); }
  100% {
    opacity: 1;
    transform: translateZ(0); } }
.google-btn {
  width: 200px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25); }
  .google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff; }
  .google-btn .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px; }
  .google-btn .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto"; }
  .google-btn:hover {
    box-shadow: 0 0 6px #4285f4; }
  .google-btn:active {
    background: #1669f2; }

.nav-second {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: -30px;
  left: 0;
  transition: 0.5s;
  height: 30px; }
  @media screen and (max-width: 600px) {
    .nav-second {
      display: none; } }
  @media screen and (max-width: 800px) {
    .nav-second {
      font-size: 1em; } }

@media screen and (max-width: 600px) {
  .fixed-top {
    top: 0 !important; } }

/*# sourceMappingURL=base.css.map */
