.grid{
    display: grid !important;
}
.grid-gap-1{
    display: grid !important;
    grid-gap:1em

}
.grid-gap-2{
    display: grid !important;
    grid-gap:2em

}
.g-col-3{
    grid-template-columns: repeat(3,1fr);
}
.g-col-2{
    grid-template-columns: repeat(2,1fr);
}
.g-col-4{
    grid-template-columns: repeat(4,1fr);
}
.g-col-5{
    grid-template-columns: repeat(5,1fr);
}
.g-col-6{
    grid-template-columns: repeat(6,1fr);
}

.g-row-3{
    grid-template-rows: 3em repeat(3,1fr);
}
.g-row-2{
    grid-template-rows: 2em repeat(2,1fr);
}
.g-row-4{
    grid-template-rows: 4em repeat(4,1fr);
}
.g-row-5{
    grid-template-rows: repeat(5,1fr);
}
.g-row-6{
    grid-template-rows: repeat(6,1fr);
}

.grid-c-10{
    grid-template-columns: 10% 90%;
}
.grid-r-1-1-4{
    grid-auto-rows: minmax(min-content, max-content);
}
.align-self-center{
    align-self: center;
}
.align-self-end{
    align-self: end;
}
.justify-self-center{
    justify-self: center;
}
.justify-items-center{
    justify-items: center;
}
.grid-row-start-1{
    grid-row-start: 1;
}
.grid-row-start-2{
    grid-row-start: 2;
}
.grid-row-start-3{
    grid-row-start: 3;
}
.grid-row-start-4{
    grid-row-start: 4;
}
.grid-column-start-2{
    grid-column-start: 2;
}