{% extends "index.html" %}
{% block categories %}cat_menu none
{% endblock categories %}
{% load static %}
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h1>CheckOut</h1>

      </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="layout">
              <input class='hide' type="radio" id="tab-1" name="tractor" checked='checked' />
              <label for="tab-1" class="nav labelTab">
                  <span>
                      <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2"
                          fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                          <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                          <polyline points="9 22 9 12 15 12 15 22"></polyline>
                      </svg>
                      Datos
                  </span>
              </label>
              <div class='tab-1 page'>
                  <div class="page-contents">
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form6Example1" class="form-control" value="{{request.user.first_name}}" />
                          <label class="form-label" for="form6Example1">Nombres</label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form6Example2" class="form-control" value="{{request.user.last_name}}" />
                          <label class="form-label" for="form6Example2">Apellidos</label>
                        </div>
                      </div>
                    </div>
                    <!-- Text input -->
        
                    <div class="form-outline mb-4">
                      <input disabled type="email" id="form6Example5" class="form-control" value={{request.user.dni}} />
                      <label class="form-label" for="form6Example5">DNI</label>
                    </div>
                    <!-- Number input -->
                    <div class="row mb-4">
                      <div class="col-lg-6">  <div class="form-outline mb-4">
                        <input disabled type="text" id="form6Example6" class="form-control" value={{request.user.celular}} />
                        <label class="form-label" for="form6Example6">Celular</label>
                      </div></div>
                      <div class="col-lg-6">  <div class="form-outline mb-4">
                        <input  type="text" id="form6Example6" class="form-control" />
                        <label class="form-label" for="form6Example6">Celular 2</label>
                      </div></div>
                    </div>
                    <input type="button" value="Continuar" class="btn btn-primary btn-rounded">
                  </div>
              </div>


              <input class='hide' type="radio" id="tab-2" name="tractor"  />
              <label for="tab-2" class="nav labelTab">
                  <span>
                      <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2"
                          fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                          <circle cx="12" cy="12" r="10"></circle>
                          <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                          <line x1="12" y1="17" x2="12" y2="17"></line>
                      </svg>
                      Dirección
                    
                  </span>
              </label>
              <div class='tab-2 page'>
                  <div class="page-contents">
                      <div class="row">
                        <div class="col">
                          <label class="form-label" for="form6Example6">Seleccionar dirección</label>

                          <div class="grid-gap-1 g-col-3 mb-4" id="grid_adress_container">
                                
                          
                              
                  
                               
                              {% for i in address  %}
                              <div class="grid address-component grid-c-10 grid-r-1-1-4">
                                <i class="align-self-center justify-self-center fas fa-map-marker-alt" ></i>
                                <p class="address_{{i.id}} d-flex justify-content-between"><strong>{{i.getNameProvince}}</strong></p>
                                <p class="grid-row-start-2 grid-column-start-2"><strong>{{i.getNameDistrict}}</strong></p>
                                <p class="grid-row-start-3 grid-column-start-2">{{i.description}}</p>
                                <p class="grid-row-start-4 grid-column-start-2" style="font-size: 0.8em;">Ref: {{i.refrences}}</p>
                              </div>
                              
                              {% endfor %}
                                 
                             {% if address.count < 3 %}
                              <!-- <div class="grid address-component" style="height: 100px; " >
                                <i class="fa fa-plus-circle" aria-hidden="true" style="justify-self: center; font-size: 2em;"></i>
                                <p style="justify-self: center;">Agregar nueva dirección</p>
                              </div> -->
                              <div class="grid justify-items-center" id="add_adress_circle"> 
                                <button onclick="seeformAdress()" type="button" class="btn btn-primary btn-floating align-self-end">
                                  <i class="fas fa-plus"></i>
                                </button>
                                <p>Agregar dirección</p>
                              </div>
                              {% endif %}
                          </div>
                          <div class="form_Address none">
                            <form id="formAddress" action="{% url 'base:createAddress' %}">
                              {% csrf_token %}
                              <div class="form-outline mb-4">
                                <input  type="text" name="description" id="description_id" class="form-control"  />
                                <label class="form-label" for="description">Dirección</label>
                              </div>
                              <div class="form-outline mb-4">
                                <input  type="text" id="refrences_id" name="refrences" class="form-control" />
                                <label class="form-label" for="refrences">Referencias</label>
                              </div>
                              <div class="row mb-4">
                                <div class="col-lg-6">
                                  <select class="form-control" name="province" id="selectProvince_id" data-url="{% url 'base:getprovince' %}" data-urldis="{% url 'base:getdistrict' %}">
                                    <option value="0" selected>Seleccione provincia..</option>
                                  </select>
                                </div>
                                <div class="col-lg-6">
                                  <select class="form-control" name="district" id="selectDistrict_id" >
                                    <option value="0" selected>Seleccione distrito..</option>
                                  </select>
                                </div>
                              </div>
                            
                  
                            </form>
                            <div class="row">
                             <div class="col-lg-6"> <button onclick="createAddress()" class="btn btn-primary btn-block btn-rounded mb-4">Agregar dirección</button>
                             </div>
                             <div class="col-lg-6"> <button onclick="cancelAddress()" class="btn btn-primary btn-block btn-rounded mb-4">Cancelar</button></div>
                            </div>

                          </div>
                          <input type="hidden" id="address">

                        </div>
                      </div>
                  </div>
              </div>


              <input class='hide' type="radio" id="tab-3" name="tractor" />
              <label for="tab-3" class="nav labelTab">
                  <span>
                      <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2"
                          fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                          <path
                              d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z">
                          </path>
                      </svg>
                      Métodos de pago
                  </span>

              </label>
              <div class='tab-3 page'>
                  <div class="page-contents">
                    <button class="btn btn-primary btn-rounded d-flex align-items-center m-auto mb-3"><i class="fab fa-paypal" style="font-size: 2em;margin-right: 5px;"></i> Paypal</button>
                    <button class="btn btn-primary btn-rounded d-flex align-items-center m-auto"><i class="fab fa-cc-visa" style="font-size: 2em;margin-right: 5px;"></i> Tarjeta de Débito</button>
                   
                  </div>
              </div>

          </div>
        
            <!-- Submit button -->
        

          </div>
          <div class="col-lg-4">
            <p class="h5"> Resumen</p>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p id="abstractContent"> Subtotal ({{cartCount}} productos) :
                    </p>
                    <p class="h6" id="abstractTotalCart">S/.{{cartTotal}}</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p> Costo de esnvío :
                    </p>
                    <p class="h6"> S/.0.00</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div class="form-outline ">

                    <input class="form-control" type="text" name="coupon" id="coupon_id">
                    <label class="form-label" for="coupon">Cupón</label>
                    
                    </div>
                    <button class="btn btn-primary">Aplicar</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <p> Descuento 
                  </p>
                  <p class="h6"> S/.0.00</p>
              </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Total :
                    <p class="h6"> S/.300,000.00</p>

                </li>
                <li><a href="{% url 'orders:checkout' %}" class="btn indigo btn-primary btn-block">Pagar</a></li>
            </ul>

        </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}