<h1>Jquery Tree Menu</h1>

<div class="controls">

  <button>Expanded</button>
  
</div>
<ul class="tree">
  <li class="has">
    <input type="checkbox" name="domain[]" value="Agricultural Sciences">
    <label>Agricultural Sciences <span class="total">(15)</span></label>
    <ul>
      <li class="">
        <input type="checkbox" name="subdomain[]" value="Agriculture, Dairy &amp; Animal Science">
        <label>Agriculture, Dairy &amp; Animal Science </label>
      </li>

    </ul>
  </li>

</ul>